body{
    background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
}
h2{
    box-shadow: 0 0 70px darkred, 0 0 50px darkmagenta;  
    text-align: center;
}
.container{
    background-color: black;
    color: #ccc;
    width: 320px;
    height: 320px;
    float: left;
    margin: 300px;
    margin-top: 200px;
    bottom: 160px;
    position: relative;
    padding: 70px;
    left: 250px;
    transform: translate(-5%,-5%);
    background: rgba(0, 0, 0, 0.80);

}
input[type="text"],
input[type="paswd"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgrey;
    color: black;
}
button {
    background-color : red;
    width: 320px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"] {
    margin-right: 8px;
   
}
img{
    width: 190px;
    height: 90px;
}
a:hover{
    background-color: darkred;
}
